{% extends "templates/page.html" %}
{% block script %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56096826-1', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>
{% endblock %}

{% block header_buttons %}
  <span id="login_widget">
    <a
      class="pull-right"
      style="text-decoration: none; color:black; vertical-align:middle;"
      href="https://developer.rackspace.com/"
      target="_blank">
      <span style="margin-left: 5px; margin-right: 5px; vertical-align:middle;">
      {% if notebook_name %}on{% else %}Hosted by Rackspace{% endif %}
      </span>
      <img src="https://cloud.githubusercontent.com/assets/836375/4916141/2732892e-64d6-11e4-980f-11afcf03ca31.png"
         height='24px'
         style="vertical-align:middle;"/>
    </a>
  </span>
{% endblock %}
